* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f6f5f5;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container {
    max-width: calc(1600px + 10%);
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: solid 2px #1E3456;
    color: #262636;
    

    h2 {
        font-size: 28px;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;
        span{
            color: #F6CE3B;
        }
    }
    .menu {
        display: flex;
        a {
            text-decoration: none;
            color: #28437c;
            font-size: 16px;
            font-weight: 600;
            padding: 0 10px;
            transition: 0.4s;
            border-radius: 5px;
        }

        a.is-active, a:hover {
             border-bottom: solid 2px #F6CE3B;
        }
    }

    .hamburger {
        position: relative;
        display: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 10;

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;

            background-color: #385DAA;
            border-radius: 6px;

            transform-origin: 0 0;
            transition: 0.4s;
            

        }
    }
    .hamburger:hover span:nth-child(2) {
        transform: translateX(10px);
        background-color: #F6CE3B;
    }
    .hamburger.is-active span:nth-child(1) {
        transform: translate(0px, -2px) rotate(45deg);
    }
    .hamburger.is-active span:nth-child(2) {
        opacity: 0;
        transform: translateX(15px);

    }
    .hamburger.is-active span:nth-child(3) {
        transform: translate(-3px, 3px) rotate(-45deg);
    }
    .hamburger.is-active:hover span {
        background-color: #F6CE3B;
    }

}
@media (max-width: 768px) {
    
    .nav-bar{
        position: fixed;
        top: 0%;
        z-index: 1;
        background-color: #f6f5f5;

        .menu {
            position: fixed;
            top: 0;
            left: 100%;
            flex-flow: column;
            width: 400px;
            height: 100vh;
            padding: 100px 5px;
            background-color: #F2F2F2;
            transition: 0.4s;
            border-radius: 0 0 0 10%;
    
            span {
                padding: 12px 16px;
            }
        }
        .hamburger {
            display: block;
        }
        .hamburger:hover span:nth-child(2) {
            transform: translateX(10px);
        }
        .menu.is-active {
            left: 60%;
            z-index: 10;
        }

    }
    
    
}


.home {
    width: 100%;
    height: 85vh;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-weight:500;
    

    .text-container p:nth-child(1){
        color:#6d6d6d;
        font-size:22px;
        padding-bottom: 5px;
    }
    .text-container p:nth-child(2){
        letter-spacing:1px;
        color:#1a1a1a;
        font-size:50px;  
    }

    // .text-container p:nth-child(3){
	// color: #403e3e;
	// font-size:25px;
	// line-height:20px;
    // }
    .text-container .text-info p {
        .fal{
            color: #F6CE3B;
            font-size: 25px;
        }
        color: #403e3e;
        font-size: 20px;
        line-height: 1px;
    }

    .text-container p{
         line-height:0px;
    }

    .text-container{
        position: absolute;
        left:13%;
        top:42%;
        transform:translate(-13%,-42%);
    }

    .home-img {
        height: 530px;
        position: absolute;
        bottom: 40px;
        left: 75%;
        transform: translateX(-75%);
        
    }

    @media (max-width:992px) {
        .home-img {
            height: 460px;
            left: 90%;
            transform: translateX(-90%);
        }
        .text-container{
            top:46%;
        }
        .text-container button{
            margin: 5px;
        }
    }
    
    
    
}
@media (max-width:768px) {
    .home {
        height: 65vh;
        background-image:none;
        background-color:#f7f7f7;

        .home-img {
            display: none;
        }
        .text-container{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80%;
        }
    }
    
    
}



.about {
    width: 80%;
    height: 330px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;

    img {
        height: 250px;
        margin-right: 3%;
    }
    .about-text {
        h2 {
            text-align: center;
        }
        color: #1E3456;
        width: 90%;
        letter-spacing: 1.4px;
        font-weight: 400;
        text-align: start;
    }
}
@media (max-width:992px) {
    .about{
        width:90%;
        border-radius: 10px;
    }
}
@media (max-width:768px) {
    .about{
        top: 0px;
        flex-direction: column;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .about-text{
        text-align: center;
    }
    
}

// Skills
.skills {
    color: #1E3456;

    .title {
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        margin: 50px 0; 
    }
    .content {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        padding: 0 5%;
        

        .skill-card {
            display: flex;
            flex-flow: column;
            margin-bottom: 40px;
            width: calc(100% / 8);

            .skill-icon {
                font-size: 80px;
                display: flex;
                justify-content: center;
            }
            .skill-text {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: center;
            }
        }
        @media (max-width:1083px) {
            .skill-card {
                width: calc(100% / 4);
                margin-bottom: 10px;
            }
        }
        @media (max-width:539px) {
            .skill-card {
                .skill-icon {
                    font-size: 50px;
                }
                .skill-text {
                    font-size: 16px;
                }
            }
        }

    }

}

.portfolio {
    color: #f8efef;
    background: #1E3456;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 50px;
    border-top: solid 4px #F6CE3B;
    border-bottom: solid 4px #F6CE3B;
    

    .title {
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

    }
    .content {
        display: flex;
        flex-flow: wrap;
        gap: 25px;
        width: 100%;
        padding: 0 5%;

        .portfolio-card {
            width: 23%;
            height: 300px;
            background-image: url(../img/img01.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.6;
    
            
            .portfolio-text { 
                font-size: 22px;
                font-weight: 500;
                padding: 2px;
                color: #1a1a1a;
                background-color: #F2F2F2; 
                border-radius: 2px;

            }
        }
        .img02{
            background-image:url(../img/img02.png);
        }
        .img03{
            background-image:url(../img/img03.png);
        }
        .img04{
            background-image:url(../img/img04.png);
        }
        .img05{
            background-image:url(../img/img05.png);
        }
        .img06{
            background-image:url(../img/img06.png);
        }
        .img07{
            background-image:url(../img/img07.png);
        }
        .img08{
            background-image:url(../img/img08.png);
        }
        .portfolio-card:hover {
            opacity: 1;
        }
        @media (max-width:1200px) {
            .portfolio-card {
                width:47%;
            }
        }
        @media (max-width:539px) {
            .portfolio-card {
                width:100%;
            }
        }
    }

    

}

.product {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-bottom: 48px;

    .product-card {
        display: flex;
        flex-flow: column;
        width: calc(25% - 18px);
        text-decoration: none;
        padding-top: 48px;
    }
}
@media (max-width:1083px) {
    .product-card {
        width: calc(50% - 12px);
    }
}

@media (max-width:539px) {
    .product-card {
        width: 100%;
    }
}


footer {
    color: #1E3456;
    padding: 30px 0 16px;
    display: flex;
    justify-content: center;
}




